body {
  height: 100%;
}
div.profile-container {
  width: 320px;
  height: 950px;
  background-color: #344559;
  position: absolute;
}

div.box-container {
  margin-left: 320px;
  height: 950px;
  position: relative;
  background-color: #E0E8F2;
}

div.login-form {
  background-image: url('./login-background.png');
  background-size: cover;
}