body {
  height: 100%;
}
div.profile-container {
  width: 320px;
  height: 100vh;
  background-color: #344559;
  position: fixed;
}

div.box-container {
  margin-left: 320px;
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #DEE8F3;
}

div.login-form {
  /* background-image: url('./login-background.png'); */
  background: linear-gradient(180deg, rgb(43, 204, 248), rgb(69, 219, 202));
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.cb-slideshow{
  margin-bottom: 0 px;
}

@media (min-width: 620px) {
  div.main {
    column-count: 2;
    column-gap: 30px;
  }
  
  div.section {
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  div.main {
     column-count: 3;
  }
}

div.main { 
  max-width: 1590px;
  margin: 0 auto;
  padding: 20px;
}

div.section {
  border-radius: 1rem;
  background-color: beige;
  margin-bottom: 30px;
  overflow: hidden;
}

div.weather {
  background-color: #7AA8FD;
  padding: 10px;
  border-radius: 1rem;
}

div.temperature {
  color: white;
  font-size: 1.4rem;
  margin-left: 40px;
  margin-top: -29px;
}

div.time {
  color: white;
  font-size: 1.3rem;
  margin-top: 80px;
}

div.quote {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;
}

div.invite {
  background-color: #22CFA4;
  padding: 10px;
  border-radius: 1rem;
}

div.invite h5 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
}

div.mortgage, div.retirement, div.monthlytotal{
  background-color: #FFFFFF;
  padding:10px;
  border-radius: 1rem;
  color: #003268;
}

div.mortgage h4, div.retirement h4, div.monthlytotal h4{
  text-align: center;
  font-size: 1.5rem;
}

div.monthlytotal h4 {
  text-align: center;
  font-size: 1.3rem;
}

div.linkaccount {
  background-color: #FFFFFF;
  padding:10px;
  border-radius: 1rem;
  color: #4F6E8D;
}

div.linkaccount h4 {
  text-align: center;
  font-size: 1.3rem;
}

div.linkaccount p {
  left: 20%;
  right: 20%;
  text-align: center;
  font-size: 1.1rem;
}

div.category {
  background-color: white; 
}

img.houseimg, img.whitepiggy {
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:20px;
}

div.mortgage-result {
  color: #003268;
  font-size: 1.1rem;
  margin-top: 10px;
  text-align: center;
}

div.mortgage-result h4 {
  font-size: 1.4rem;
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
@keyframes AnimationName { 
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}



img.bankimg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
  margin-top:30px;
  margin-bottom: 25px;
}
/* 
background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
/* button.some-class-button {
  background: rgb(103, 208, 174);
}

#plaid-link-button {
  background: rgb(103, 208, 174);
}
*/

button.some-class-name {
  padding: 10px;
  outline: none;
  background-color: rgb(103, 208, 174) !important;
  color: white !important;
  border: none !important ;
  border-radius: 0.5rem !important; 
  width: 220px;
  height: 45px;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
} 

#bluebutton {
  margin-top: 10px;
  margin-botton: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #003268;
  color: white; 
  height: 45px;
  width: 220px;
  font-size: 1rem;
  border-radius: 0.5rem !important; 
}

div.carousel-item active {
  background-color: #003E7A;
  height: 400px;
}

div.facebook {
  margin-top: 30px;
  margin-left: 150px;
}

div.twitter {
  margin-top: -32px;
  margin-left: 200px;
}

div.linkedin {
  margin-top: -32px;
  margin-left: 250px;
}

div.email {
  margin-top: -32px;
  margin-left: 300px;
}

div.oneweekexpense {
  background-color: #FFFFFF;
  padding:10px;
  border-radius: 1rem;
}

div.oneweektext {
  color: #003268;
  font-size: 1.3rem;
  text-align: center;
}

div.amount {
  color: #22CFA4;
  font-size: 1.8rem;

}

.oneweekimg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:20px;
  height: 120px;
}

div.oneweekminitext {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 20px;
  color: #4F6E8D;
}

div.creditcard {
  background-color: #FFFFFF;
  padding:10px;
  border-radius: 1rem;
}

div.creditcard h4 {
  color: #4F6E8D;
  text-align: center;
}

div.accountname {
  color: #4F6E8D;
  font-size: 1.1rem;
  margin-left: 10px;

}

div.accountbalance {
  color: #4F6E8D;
  text-align: right;
  font-size: 1.1rem;
  margin-top: -22px;
  margin-right: 10px;
}

#categorydropdown {
  margin-left: 40px;
  color: white;
}

div.showprofile h3{
  color: white;
  text-align: center;
  height: 30px;
}


div.showprofile :hover {background-color:#22CFA4;}
div.showtransactions :hover {background-color:#22CFA4;}

div.myprofile {
  color: white;
  font-size: 1.6rem;
  text-align: center;
  height: 80px;
  margin-top: 10px;
  padding-top: 20px;
}